.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-size: 2em;
}

.navbar-toggle {
    z-index:3;
}

.navbar {
  background-color: #74983D;
}

.navbar-brand {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 1.25em;
}

.jumbotron {
  background-image: url(./img/denver-skyline.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size:  cover;
  height: 90vh;
  background-blend-mode: darken;
}


.jumbotron-header{
  padding-top: 3em;
}


.portfolio {
  margin-top: 6em;
  margin-bottom: 6em;
}

.portfolio-button {
  background-color: #74983D;
}

article {
  margin-top: 10%;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}

.headshot {
  height: 40vh;
  margin-top: 5em;
}

.info-paragraph {
  margin-bottom: 10%;
}

.contact {
  margin-top: 6em;
}

.icons {
  height: 30px;
}
