@import url('https://fonts.googleapis.com/css?family=Dosis');

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-size: 2em;
}

.navbar-toggle {
    z-index:3;
}

body {
  background-color: #1D297B;
  color: white;
  height: 100%;
  font-family: 'Dosis', sans-serif;
}

.navbar {
  background-color: #63A46C;
}

.navbar-brand {
  color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-size: 1.25em;
}


.landing {
  height: 500px;
  margin-top: 250px;
  font-size: 3em;
}

.navbar-default .navbar-brand {
    color: white;
}

.portfolio {
  margin-top: 6em;
  margin-bottom: 6em;
}

.portfolio-button {
  background-color: #1B2B83;
}

.portfolio-button a {
  /*background-color: #74983D;*/
  display: inline-grid;
  color: white;
  text-decoration: none;
}

article {
  margin-top: 10%;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.headshot {
  height: 40vh;
  margin-top: 5em;
}

.info-paragraph {
  margin-bottom: 10%;
}

.contact {
  margin-top: 6em;
  margin-bottom: 6em;
}

.icons {
  height: 30px;
}

.resume {
  height: 100vh;
  display: block;
}
