@import url('https://fonts.googleapis.com/css?family=Quicksand');

.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2em;
}


body {
  background-color: #B4E9E3;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  z-index: 2;
}

.navbar {
  margin-top: 0px;
}

.landing {
  height: 380px;
  margin-top: 250px;
  margin-bottom: -150px;
  text-align: center;
  margin-left: -30px;
  color: #223C3E;
}

.landing p {
  font-size: 2em;
}


.portfolio {
  margin-bottom: 6em;
}

.name {
  text-align: center;
  color: #223C3E;
  letter-spacing: .5em;
  font-weight: bolder;
  font-size: 3em;
}

.portfolio-button a {
  display: inline-grid;
  color: #4A8287;
  text-decoration: none;
}

.portfolio-button {
  background-color: #4A8287;
  padding: .5em;
  border: 1px solid #6D473A;
  font-size: 1em;
  border-radius: 10px;
  color: #223C3E;
  text-decoration: none;
}

.portfolio-button:hover {
  background-color: #223C3E;
  color: #F2FEFB;
  transition: all 300ms linear;
}


.portfolio-button a:hover {
  background-color: #223C3E;
  color: #F2FEFB;
}

.spacer {
  height: 200px;
  animation-name: anti-example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: #B4E9E3;
}

.articles {
  margin: 10px auto;
}

article {
  margin-top: 10%;
  padding-bottom: 1em;
  border-bottom: 1px solid #6D473A;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  margin: 1em 2em;
}

.article-img {
  border-radius: 10px;
  box-shadow: 5px 10px 5px #888888;
  width: 40vw;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2em;
}

.project-desc {
  grid-column-start: 3;
  grid-column-end: 4;
}

.headshot {
  height: 70vh;
  top: 5em;
  position: absolute;
  right: 0px;
  margin-right: 8vw;
  z-index: 3;
}

.info-paragraph {
  margin-bottom: 10%;
}

.resume {
  height: 100vh;
  display: inline-block;
}


.video-btn {
  margin: 10px 5px;
  background-color: #4A8287;
  transition: all 300ms linear;
  text-decoration: none;
  border: 1px solid #6D473A;
  border-radius: 5px;
  font-size: .75em;
}

.video-btn:hover {
  background-color: #223C3E;
  color: #F2FEFB;
}

.footer {
  display: fixed;
  margin-bottom: 0;
}

@keyframes example {
    0%   {margin-top: 0px;}
    50%  {margin-top: 20px;}
    100% {margin-top: 0px;}
}

@keyframes anti-example {
    0%   {margin-top: 0px;}
    50%  {margin-top: -20px;}
    100% {margin-top: 0px;}
}

.portfolio-title {
  animation-name: example;
  margin: 5px auto;
  display: block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  text-align: center;
  font-size: 2em;
  color: #223C3E;
}

@media only screen and (max-width: 700px) {
  article {
    grid-template-columns: 100%;
  }

  .article-img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .headshot {
    height: 50vh;
    margin: 0px auto;
    position: relative;
    display: block;
  }

  .landing {
    margin-top: 100px;
    margin-bottom: -220px;
    font-size: .75em;
  }

  .name {
    margin-top: 10px;
    margin-bottom: -80px;
    font-size: 2.5em;
  }

  .portfolio-title {
    font-size: 1.5em;
  }
}
